<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="utf-8">
    <title>О проекте</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"/>
    <script defer src="../Static/JS/about.js"></script>
</head>
    <header id="header-index">
        <h1>LifeSport - наблюдайте за улицами мегаполисов мира в месте с нами</h1>
        <p>Оставляйте свои отзывы и пожелания - мы всегда стретимся к совершенству</p>
    </header>

<!--SIDEBAR-->
<body>
</body>
<!--FOOTER-->
</html>