<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="/Static/CSS/index.css" rel="stylesheet" type="text/css"/>
    <script src="/Static/JS/Index.js"></script>
    <script>
        //userData = checkClientAge();
        //printSession(userData);
    </script>
</head>
<body>
    <!-- https://developer.mozilla.org/ru/docs/Learn/JavaScript/Building_blocks/Events#%D0%B2%D1%81%D0%BF%D0%BB%D1%8B%D1%82%D0%B8%D0%B5_%D0%B8_%D0%BF%D0%B5%D1%80%D0%B5%D1%85%D0%B2%D0%B0%D1%82_%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D0%B9 -->
    <!--  Если у родительского элемента есть обработчик на такое же событие, которое было вызвано у дочернего - оно выполнится и у родительского тоже (после дочернего) и так до самого верхнего элемента (<html> ). Это обзывается bubbling
    Погружение - все то же самое, только начинается с верхнего элемента-->
    <header>
        <div align="center" class="bordered">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Через этот сайт вы можете смореть прямые трансляции с улиц разных городов мира</p>
        </div>

        <div class="search">
            <form>
                <p>
                    Поиск: <input class="searchTextBox" type="text" name="searchField" maxlength="255" size="25"
                                  oninput="
                        filterByVideoName();
    " />
                </p>
            </form>
        </div>
    </header>

    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="#"><p>Все трансляции</p></a>
            <a href="/about"><p>О проекте</p></a>
        </div>
    </aside>

    <!--<a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Санкт- Петербург</button></a>
    <a href="https://www.youtube.com/watch?v=srlpC5tmhYs"><button>Нью-Йорк</button></a>
    <a href="https://www.youtube.com/watch?v=JplMzss6_YE"> <button>Лондон</button></a>-->
    <div class="main-content" align="center">
        <div class="video-container"><h3 align="center" class="video-title">Санкт-Петербург, Невский Проспект</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="video-container"><h3 align="center" class="video-title">Нью-Йорк, Брайант Парк</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="video-container"> <h3 align="center" class="video-title">Лондон, автобусный маршрут</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>

    <footer class="footer">
        <p>LifeSpot - все права защищены</p>
        <p>Автор Халматов Р.А.</p>
        <p>Связаться с нами: some@yandex.ru</p>
    </footer>
</body>
</html>