<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css"/>
    <script src="../JS/Index.js"></script>
</head>
<body>
    <header>
        <div align="center" class="bordered">
            <h1>LifeSpot — прямые трансляции с улиц</h1>
            <p>Через этот сайт вы можете смореть прямые трансляции с улиц разных городов мира</p>
        </div>
        
        <div class="search">
            <form>
                <p>Поиск: <input class="searchTextBox" type="text" name="searchField" maxlength="255" size="25" /></p>
            </form>
        </div>
    </header>

    <!--Сайд-бар страницы-->
    <aside id="sidebar">
        <div class="navbar">
            <a href="#"><p>Все трансляции</p></a>
            <a href="#"><p>О проекте</p></a>
        </div>
    </aside>

    <!--<a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Санкт- Петербург</button></a>
    <a href="https://www.youtube.com/watch?v=srlpC5tmhYs"><button>Нью-Йорк</button></a>
    <a href="https://www.youtube.com/watch?v=JplMzss6_YE"> <button>Лондон</button></a>-->
    <div class ="main-content" align="center">
        <div class="video-container"><h3 align="center" class="video-title">Санкт-Петербург, Невский Проспект</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="video-container"><h3 align="center" class="video-title">Нью-Йорк, Брайант Парк</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="video-container"> <h3 align="center" class="video-title">Лондон, автобусный маршрут</h3><iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>

    <footer class="footer">
        <p>LifeSpot - все права защищены</p>
        <p>Автор Халматов Р.А.</p>
        <p>Связаться с нами: some@yandex.ru</p>
    </footer>
</body>
</html>