<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <style>
        /* Свойства стиля элемента.Подробнее о них в модуле по CSS */
        .bordered {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="bordered">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Через этот сайт вы можете смореть прямые трансляции с улиц разных городов мира</p>
    </div>

    <form>
        <button>Санкт- Петербург</button>
        <button>Нью-Йорк</button>
        <button>Лондон</button>
    </form>
</body>
</html>